{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
<div class="bg-light-yellow h-screen w-screen flex justify-center items-center flex-col">
	<div class="p-8 bg-green w-full max-w-md h-max rounded-lg flex flex-col justify-center shadow-2xl">
		<h1 class="text-white text-center text-2xl font-bold mt-1 mb-5">
			{% if is_register %}
				Sign Up
			{% else %}
				Login
			{% endif %}
		</h1>
		<form action="{% if is_register %}{% url 'signup' %}{% else %}{% url 'login' %}{% endif %}" method="post">
			{% include "includes/form.html" %}

			<button type="submit" class="bg-yellow py-2 px-4 rounded-lg w-full text-white font-bold shadow-lg">
				{% if is_register %}
					Sign Up
				{% else %}
					Login
				{% endif %}
			</button>
		</form>
		<div class="mt-4 flex justify-center items-center">
			{% if is_register %}
				<p class="mr-2 text-white">Existing user ?</p>
				<a href="{% url 'login' %}" class="p-1 text-light-yellow">Sign In</a>
			{% else %}
					<p class="mr-2 text-white">New user ?</p>
					<a href="{% url 'signup' %}" class="p-1 text-light-yellow">Register</a>
			{% endif %}
		</div>
	</div>
	{% include "includes/quote.html" %}
</div>
{% endblock content %}